@import '../../styles/var.scss';
@import '../../styles/mixins.scss';
.pagination{
    display: flex;
    gap: 30px;
    align-items: center;

    @include flexGap(30px, row);

    &--col{
        flex-direction: column;
        gap:  80px;
        @include flexGap(80px, column);
    }
    &__btns{
        display: flex;
        gap: 20px;
        @include flexGap(20px, row);
    }

    &__numbers{
        display: flex;
        gap: 12px;
        font-size: 1.5rem;
        color: $text_hint;
        @include flexGap(12px, row);

        span{
            transition: 0.3s ease-in-out;
            &.active{
                color: $text_dark;
            }
        }
    }
}