@import '../../var.scss';
.textField{
    position: relative;
    width: 100%;
    transition: 0.3s ease-in-out;

    &__label{
        opacity: 0;
        position: absolute;
    }

    &__input{
        width: 100%;
        padding: 20px 14px;
        font-size: 0.875rem;
        color: $text_dark_grey;


        &::placeholder{
            font-size: 0.875rem;
            color: $text_dark_grey;
        }
    }

    &__error{
        display: block;
        margin-top: 5px;
        color: $error;
        font-weight: bold;
    }

}