@import '../../styles/var.scss';
.textField{
    position: relative;
    width: 100%;
    transition: 0.3s ease-in-out;

    &__label{
        opacity: 0;
        position: absolute;
    }

    &__input{
        width: 100%;
        padding: 20px 14px;
        font-size: 0.875rem;
        color: $text_dark_grey;
        border: 1px solid $text_dark;
        background-color: white;
        resize: none;

        &::placeholder{
            font-size: 0.875rem;
            color: $text_dark_grey;
        }
    }

    &__select{
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
        -webkit-appearance:none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__error{
        display: block;
        margin-top: 5px;
        color: $error;
        font-weight: bold;
    }

}