@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

$gap: 30px;
$gap_sm: 10px;

.mini-gallery{
    display: flex;
    width: 100%;    
    flex-direction: column;
    align-items: baseline;
    gap: 2vh;
    @include flexGap(2vh, column);

    &__content{
        display: flex;
        width: 100%;   
        flex-wrap: wrap;
        gap: $gap;
        @include flexGap($gap, all);

        @media (max-width: $screen_l) {
            gap: $gap_sm;
            @include flexGap($gap_sm, all);
        }

        @supports not ((scroll-behavior: smooth) and (gap: 30px)){
            & .cover:first-child,
            & .cover:nth-of-type(5n + 3){
                margin-left: 0;
            }
   
            & .cover:nth-of-type(5n + 2),
            & .cover:nth-of-type(5n + 5) {
                margin-right: 0;
            }
            @media (max-width: $screen_md) {
                & .cover:nth-of-type(2n + 2){
                    margin-right: 0;
                }
                & .cover:nth-of-type(2n + 1){
                    margin-left: 0;
                }
                & .cover:nth-of-type(5n + 5) {
                    margin-left: 0;
                    margin-right: 0;
                }

            }
        }

    }
    &__show-all{
        margin-left: auto;
        @media (max-width: $screen_md) {
            margin-left: 0;
        }
    }
    
}


.cover{
    $this: &;
    flex-basis: calc(50% - 15px);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    position: relative;
    height: 255px;
    padding: 3% 1.5%;
    overflow: hidden;
    z-index: 0;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    @include flexGap(15px, column);
    
    &::before{
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s ease-in-out;
        z-index: 0;
        background: transparent;
    }
    &__img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }
    &__title{
        color: $text_white;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 100%;
        transition: 0.3s ease-in-out;
        opacity: 0;
        z-index: 2;
    }
    &__btn{
        visibility: hidden;
        opacity: 0;
        z-index: 2;
    }

    &:hover{
        &::before{
            background: rgba($bg_dark, 0.6);
        }

        #{$this}__title{
            color: $text_white;
            opacity: 1;
        }
        #{$this}__btn{
            visibility: visible;
            opacity: 1;
        }
    }

    $list:createListForGallery($gap);
    @include miniGalleryLayout($list);

    @media (max-width: $screen_xl) {
    
        &__title{
            font-size: 2rem;
        }
    }
    @media (max-width: $screen_l) {
        flex-basis: calc(50% - #{$gap_sm} / 2);
        $list_sm: createListForGallery($gap_sm);
        @include miniGalleryLayout($list_sm);
        &__title{
            font-size: 2rem;
        }
    }
    @media (max-width: $screen_md) {
        &:nth-of-type(n){
            flex-basis: calc(50% - #{$gap_sm} / 2);
        }
        &:nth-of-type(5n + 5){
            flex-basis: 100%;
        }
        padding:  8% 5%;
       
    }
    @media (max-width: $screen_sm) {
        max-height: 130px;
        &__title{
            font-size: 1.2rem;
        }
    }

}

