@import '../../styles/var.scss';
.tasks{
    $this: &;
    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__task{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    &__number{
        color: $bg_grey;
        font-weight: 900;
        font-size: 12.5rem;   
    }
    &__text{
        color: $text_dark;
        font-size: 1.375rem;
    }
    @media (max-width: $screen_xl) {
        &__text{
            font-size: 1rem;     
        }     
    }
    @media (max-width:  $screen_md) {
        &__task{
            width: 100%;
            justify-content: space-between;
        }
     
        &__text{
            font-size: 1.375rem;
            flex-basis: 80%;
        }
    }

    @media (max-width: $screen_sm) {
        &__text{
            font-size: 1rem;
        
        }
        &__number{
            font-size: 6rem;   
        }
        &__task{
            gap: 10px;
        }
    }
    
}