@mixin topBottomBorder($color) {
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
}

@mixin titles($font_size, $color, $font_weight){
    color: $color;
    font-size: $font_size;
    font-weight: $font_weight;
}

@mixin getContainerSizes($mapContainer){
    @each $view, $container in $mapContainer {
        @media (max-width: $view) {
            width: $container;
        }
    }
}

@function createListForGallery($gap) {
    $res: 3 25% calc(#{$gap} / 2),
        4 40% #{$gap},
        5 35% calc(#{$gap} / 2);
    @return $res;
}

@mixin miniGalleryLayout ($list){
    @each $n, $percent, $gap in $list {
        &:nth-of-type(5n + #{$n}){
            flex-basis: calc(#{$percent} - #{$gap});
        }
    }
}