@import '../../styles/var.scss';
.card{
    $this: &;
    display: flex;
    background-color: $bg_grey_light;
    position: relative;
    align-items: center;
    min-height: 435px;
    padding: 30px 70px;
    gap: 30px;

    &__btn{
        margin-top: auto;
    }

  
    &__content{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
        width: 50%;
        background-color: $bg_grey_light;
    }
    &__text{
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
    }
    &__media{
        width: 50%;
        height: 100%;
   
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 30px;
        
        &  #{$this}__img{
            height: auto;
            &:first-child{
                grid-row: 1/1;
            }
            &:nth-child(2){
                padding: 20px 0;
                grid-row: 1/-1;
            }
            &:last-child{
                grid-row: 2/2;
            }
        }
    }
    &__img{
        overflow: hidden;
        height: 435px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &--projects{
        padding: 0;
        height: 435px;
        align-items: flex-start;

        #{$this}__img{
            height: 100%;
            width: 50%;
        }
        #{$this}__content{
            padding:  30px 70px 30px 0;
        }
        
    }
    @media (max-width: $screen_l) {
        flex-direction: column-reverse;
        height: auto;
        
        &__content,  &__media{
            width: 100%;
        }
        &__media{
            height: 435px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        &--projects{
            #{$this}__content{
                padding: 30px 70px 0;
            }
            #{$this}__img{
                width: 100%;
                max-height: 40vh;
            }
        }
    
    }
    @media (max-width: $screen_md) {
        padding: 20px 30px;
        &__media{
            height: 235px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        &--projects{
            padding: 0;
            gap: 10px;
        }
        #{$this}__content{
            padding:  20px 35px 0 ;
        }
        #{$this}__title{
            font-size: 1.5rem;
        }    
    }
    @media (max-width: $screen_sm) {
        &--projects{
            padding: 0;
            gap: 10px;
        }
        #{$this}__content{
            padding:  10px 15px 0 ;
        }
        #{$this}__title{
            font-size: 1.3rem;
        }  
    }
}