@import '../../var.scss';

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;

    &__card{
        flex-basis: calc(100% / 5 - 30px);
        height: 260px;
        cursor: pointer;
    }
}

.g-card{
    $this: &;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__desc{
        z-index: 2;
        padding: 20px;
        background-color: $bg_grey;
        transition: 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(10px);
    }
    &__text{
        color: $text_dark;
        font-size: 0.875rem;
    }

    &:hover{
        #{$this}__desc{
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}