@import './var.scss';
@import './mixins.scss';
.App{
  min-height: 100vh;
}

.container{
  padding-left: 130px;
  padding-right: 130px;
}
.h1{
  text-transform: uppercase;
  @include titles(4rem, $text_dark, lighter );
  
  &__bold{
    font-weight: bold;
  }
}
.h2{
  @include titles(4rem, $text_hint, lighter );
}
 .h3{
  @include titles(2.5rem, $text_hint, lighter );
 }