@mixin topBottomBorder($color) {
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
}

@mixin titles($font_size, $color, $font_weight){
    color: $color;
    font-size: $font_size;
    font-weight: $font_weight;
}

@mixin getContainerSizes($mapContainer){
    @each $view, $container in $mapContainer {
        @media (max-width: $view) {
            width: $container;
        }
    }
}