@mixin topBottomBorder($color) {
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
}

@mixin titles($font_size, $color, $font_weight){
    color: $color;
    font-size: $font_size;
    font-weight: $font_weight;
}
