//colors
$text_dark: #333333;
$text_hint: #bdbdbd;
$text_dark_grey: #8D8D8D;
$text_white: #fff;

$bg_clear_white: #fff;
$bg_white: #E5E5E5;
$bg_grey: #F2F2F2;
$bg_grey_light: #FBFBFB;
$bg_dark: #2C2C2C;