@import '../../var.scss';
@import '../../mixins.scss';
.nav{
    $this: &;
    &__list{
        display: flex;
        list-style: none;
    }
    &__item{
        transition: 0.3s ease-in-out;
        padding: 3px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

    }   
    &__link{
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    &--header{
        #{$this}__list{
            gap: 40px;
        }
        #{$this}__item{
            &:hover{
                @include topBottomBorder($text_dark)
            }
        }
        #{$this}__link{
            color: $text_dark;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
    &--footer{
        #{$this}__list{
            gap: 16px;
            flex-direction: column;
        }
        #{$this}__link{
            font-size: 0.875rem;
            color: $text_white;
            font-weight: bold;
        }
        #{$this}__item{
            &:hover{
                #{$this}__link{
                    color: $text_hint;
                }
            }
        }
    }
}

