@import '../../styles/var.scss';
@import '../../styles/mixins.scss';
.nav{
    $this: &;


    &__list{
        display: flex;
        list-style: none;
    }
    &__item{
        transition: 0.3s ease-in-out;
        padding: 3px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

    }   
    &__link{
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    &--header{
       
        #{$this}__list{
            gap: 5px 5%;
            
            justify-content: flex-end;
            flex-grow: 1;
        }
        #{$this}__item{
            &:hover{
                @include topBottomBorder($text_dark)
            }
        }
        #{$this}__link{
            color: $text_dark;
            letter-spacing: 0.2em;
            text-transform: uppercase;
        }
        @media (max-width: $screen_l) {
            #{$this}__list{
                flex-wrap: wrap;
            }
        }
        @media (max-width: $screen_md) {
            #{$this}__list{
                flex-direction: column;
                align-items: center;
                padding: 30% 10%;
                background: white;
                box-shadow: 0 0 5px rgba($text_dark, 0.5);

                transform: translateY(-100%);
                transition: transform 0.3s ease-in-out;
            }
            #{$this}__link{
                font-size: 2rem;
            }
            &.active{
                #{$this}__list{
                    transform: translateY(0);
                }
            }
        }
        @media (max-width: $screen_md) {
            #{$this}__link{
                font-size: 1.2rem;
            }
        }
    }
    &--footer{
        #{$this}__list{
            // gap: 15%;
            flex-direction: column;
        }
        #{$this}__link{
            font-size: 0.875rem;
            color: $text_white;
            font-weight: bold;
        }
        #{$this}__item{
            padding: 3%;
            &:hover{
                #{$this}__link{
                    color: $text_hint;
                }
            }
        }
        @media (max-width: $screen_sm) {
            #{$this}__link{
                font-size: 1.2rem;
            }
            #{$this}__item{
                padding: 1%;
            }
        }
    }
}

